<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name></display-name>

	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>csdnServlet</servlet-name>
		<servlet-class>com.csdn.servlet.csdnServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ArticleDetailServlet</servlet-name>
		<servlet-class>com.csdn.servlet.ArticleDetailServlet</servlet-class>
	</servlet>

	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>com.csdn.servlet.SearchServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ClassifyDetailServlet</servlet-name>
		<servlet-class>com.csdn.servlet.ClassifyDetailServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>statisticServlet</servlet-name>
		<servlet-class>com.csdn.servlet.statisticServlet</servlet-class>
	</servlet>










	<servlet-mapping>
		<servlet-name>csdnServlet</servlet-name>
		<url-pattern>/csdnServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ArticleDetailServlet</servlet-name>
		<url-pattern>/ArticleDetailServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/SearchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClassifyDetailServlet</servlet-name>
		<url-pattern>/ClassifyDetailServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>statisticServlet</servlet-name>
		<url-pattern>/statisticServlet</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>com.csdn.servlet.csdnServlet</welcome-file>
	</welcome-file-list>
</web-app>
